@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --myMargin: 3rem 4rem;
  --myPadding: 1rem 6rem;
  --beige: #d6c29f;
  --grey: #9c9c9c;
  --wine: #620b0b;
  --background: #222222;
  --font: 'Fahkwang', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  width: 100%;
  align-items: center;
  background-color: var(--beige);
  padding: 1rem 2rem;
}

.nav-title {
  color: var(--background);
  font-size: 3rem;
  text-align: center;
}

.nav-icon {
  color: #ffffff;
  font-size: 3rem;
  text-decoration: none;
}

.nav-icon:hover {
  color: #cccccc;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: var(--font);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.form-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  padding: 4rem 6rem;
  border-radius: 1rem;
  text-align: center;
}

.area {
  margin: 2rem;
}

label {
  display: block;
  margin-bottom: 1rem;
}

input[type='text'],
input[type='password'],
select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  position: relative;
}

#savedShows p {
  padding: var(--myPadding);
  text-transform: uppercase;
  color: var(--beige);
}

#storageOutput {
  padding: var(--myPadding);
  color: #ffffff;
  border-bottom: 2px solid var(--beige);
}

button:hover {
  background-color: #000000;
}

.resetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#clearBtn {
  color: #ffffff;
  font-size: 2rem;
  border: 5px solid var(--grey);
}

#clearBtn:hover {
  background-color: var(--wine);
  text-decoration: underline;
  border: 5px solid var(--wine);
}

.modal {
  display: none;
  position: absolute;
  top: 30%;
  z-index: 2;
  width: 50%;
  overflow: auto;
  background-color: var(--beige);
  border-radius: 1rem;
}

.modal-content {
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-top: 2px solid var(--beige);
  color: #ffffff;
}

.footer-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.6rem;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin-right: 1rem;
  font-size: 2.2rem;
}

#my-tag {
  margin-left: auto;
  margin: 0;
  flex: 1;
  font-size: 2.2rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: var(--background);
}

@media screen and (max-width: 425px) {
  body {
    display: block;
    position: relative;
  }

  nav {
    position: relative;
    margin-bottom: 2rem;
  }

  .form-container {
    position: relative;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
  }
}
